nodered-flows.json
[
  {
    "id": "ff-tab1",
    "type": "tab",
    "label": "FitFlow - Cron & Broadcast",
    "disabled": false,
    "info": "=== ENV VARS yang harus diset di Node-RED ===\n\nAPP_URL                   → URL FitFlow (mis. https://fitflow-coach-theta.vercel.app)\nNODERED_WEBHOOK_SECRET    → sama persis dengan NODERED_WEBHOOK_SECRET di .env Vercel\nFONNTE_TOKEN              → token API Fonnte (dari dashboard Fonnte)\nFITFLOW_USER_ID           → Supabase user ID instruktur (lihat di Settings FitFlow)\nFITFLOW_INSTRUCTOR_PHONE  → nomor WA instruktur format 628xxx (mis. 6281234567890)\n\n=== CARA SET ENV VARS ===\nNode-RED → kanan atas (hamburger) → Settings → Environment → + Add"
  },
  {
    "id": "ff-tab2",
    "type": "tab",
    "label": "FitFlow - Webhook & Bot",
    "disabled": false,
    "info": "=== ENV VARS tambahan ===\n\nFONNTE_WEBHOOK_KEY  → sama persis dengan FONNTE_WEBHOOK_KEY di .env Vercel\n\n=== ENDPOINT YANG PERLU DIDAFTARKAN ===\n\n1. REGISTRASI BARU:\n   Supabase Dashboard → Database → Webhooks → Create Webhook\n   - Name: fitflow-new-registration\n   - Table: registrations, Event: INSERT\n   - URL: http://{IP-NODE-RED}:1880/fitflow/new-registration\n\n2. WA INCOMING BOT:\n   Fonnte Dashboard → Device → pilih device → Webhook\n   - URL: http://{IP-NODE-RED}:1880/fitflow/wa-incoming\n   - Method: POST"
  },

  {
    "id": "ff-comment-a",
    "type": "comment",
    "z": "ff-tab1",
    "name": "A. MIDNIGHT: Refresh Status Member Setiap Malam (00:05)",
    "info": "Panggil refresh_member_statuses setiap tengah malam.\nMengupdate status member: active / inactive / at_risk berdasarkan kehadiran.",
    "x": 280,
    "y": 40,
    "wires": []
  },
  {
    "id": "ff-inj-midnight",
    "type": "inject",
    "z": "ff-tab1",
    "name": "⏰ 00:05 tiap malam",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "5 0 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [["ff-fn-refresh"]]
  },
  {
    "id": "ff-fn-refresh",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build refresh_statuses",
    "func": "msg.method  = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': env.get('NODERED_WEBHOOK_SECRET')\n};\nmsg.url     = env.get('APP_URL') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({ action: 'refresh_statuses' });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 80,
    "wires": [["ff-http-refresh"]]
  },
  {
    "id": "ff-http-refresh",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ FitFlow Webhook",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 80,
    "wires": [["ff-dbg-refresh"]]
  },
  {
    "id": "ff-dbg-refresh",
    "type": "debug",
    "z": "ff-tab1",
    "name": "✅ Refresh Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 80,
    "wires": []
  },

  {
    "id": "ff-comment-b",
    "type": "comment",
    "z": "ff-tab1",
    "name": "B. MORNING: Rekap Harian ke WA Instruktur (07:00)",
    "info": "Ambil statistik hari ini → format → kirim WA ke instruktur.\nIsi: jumlah sesi, total hadir, pendapatan, pending pembayaran, member at-risk.",
    "x": 260,
    "y": 160,
    "wires": []
  },
  {
    "id": "ff-inj-morning",
    "type": "inject",
    "z": "ff-tab1",
    "name": "☀️ 07:00 tiap pagi",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "0 7 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 200,
    "wires": [["ff-fn-stats"]]
  },
  {
    "id": "ff-fn-stats",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build get_stats",
    "func": "msg.method  = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': env.get('NODERED_WEBHOOK_SECRET')\n};\nmsg.url     = env.get('APP_URL') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({\n  action:  'get_stats',\n  user_id: env.get('FITFLOW_USER_ID')\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 200,
    "wires": [["ff-http-stats"]]
  },
  {
    "id": "ff-http-stats",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ get_stats",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 200,
    "wires": [["ff-fn-fmt-stats"]]
  },
  {
    "id": "ff-fn-fmt-stats",
    "type": "function",
    "z": "ff-tab1",
    "name": "Format Pesan Rekap Pagi",
    "func": "const FONNTE_TOKEN = env.get('FONNTE_TOKEN');\nconst INSTR_PHONE  = env.get('FITFLOW_INSTRUCTOR_PHONE');\nconst data = msg.payload;\n\nif (!data || !data.ok || !data.stats) {\n  node.warn('get_stats gagal: ' + JSON.stringify(data));\n  return null;\n}\n\nconst s = data.stats;\nconst rupiah = n => 'Rp ' + Number(n || 0).toLocaleString('id-ID');\n\nconst tgl = new Date().toLocaleDateString('id-ID', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nlet sessionLines = '  (tidak ada sesi hari ini)';\nif (s.sessions && s.sessions.length > 0) {\n  sessionLines = s.sessions.map(ses => {\n    const jam = (ses.start_time || '').slice(0, 5);\n    return '  • ' + ses.class_name + (jam ? ' ' + jam : '') +\n      ' - ' + (ses.attended_count || 0) + ' hadir, ' + rupiah(ses.session_revenue);\n  }).join('\\n');\n}\n\nconst pesan =\n  '📊 *Rekap Harian FitFlow*\\n' +\n  tgl + '\\n\\n' +\n  '🏋️‍♀️ Sesi hari ini: *' + s.sessions_today + '*\\n' +\n  '👥 Total hadir: *' + s.attended_today + ' orang*\\n' +\n  '💰 Pendapatan: *' + rupiah(s.revenue_today) + '*\\n' +\n  '⏳ Menunggu konfirmasi: *' + s.pending_payments + '*\\n' +\n  '⚠️ Perlu Follow Up: *' + s.at_risk_members + ' member*\\n\\n' +\n  'Detail sesi:\\n' + sessionLines;\n\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': FONNTE_TOKEN, 'Content-Type': 'application/json' };\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.payload = JSON.stringify({\n  target:      INSTR_PHONE,\n  message:     pesan,\n  countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 790,
    "y": 200,
    "wires": [["ff-http-fn-stats"]]
  },
  {
    "id": "ff-http-fn-stats",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ Fonnte (WA instruktur)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1040,
    "y": 200,
    "wires": [["ff-dbg-stats"]]
  },
  {
    "id": "ff-dbg-stats",
    "type": "debug",
    "z": "ff-tab1",
    "name": "✅ Rekap Pagi Terkirim",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 200,
    "wires": []
  },

  {
    "id": "ff-comment-c",
    "type": "comment",
    "z": "ff-tab1",
    "name": "C. BROADCAST WORKER: Kirim WA ke Member (polling setiap 30 detik)",
    "info": "Cek antrian broadcast pending → kirim WA via Fonnte satu per satu → tandai sent/failed.\nBroadcast dibuat di FitFlow → Broadcast → Kirim. Node-RED yang eksekusi pengiriman WA-nya.",
    "x": 330,
    "y": 300,
    "wires": []
  },
  {
    "id": "ff-inj-broadcast",
    "type": "inject",
    "z": "ff-tab1",
    "name": "🔄 Setiap 30 detik",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "x": 170,
    "y": 340,
    "wires": [["ff-fn-pending"]]
  },
  {
    "id": "ff-fn-pending",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build get_pending_recipients",
    "func": "msg.method  = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': env.get('NODERED_WEBHOOK_SECRET')\n};\nmsg.url     = env.get('APP_URL') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({ action: 'get_pending_recipients', limit: 20 });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["ff-http-pending"]]
  },
  {
    "id": "ff-http-pending",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ get_pending_recipients",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 670,
    "y": 340,
    "wires": [["ff-fn-split"]]
  },
  {
    "id": "ff-fn-split",
    "type": "function",
    "z": "ff-tab1",
    "name": "Cek & Split Recipients",
    "func": "const data = msg.payload;\nif (!data || !data.ok || !Array.isArray(data.recipients) || data.recipients.length === 0) {\n  node.status({ fill: 'grey', shape: 'ring', text: 'antrian kosong' });\n  return null;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: data.recipients.length + ' pending' });\n// Kirim satu msg per recipient ke wire berikutnya\nreturn [data.recipients.map(r => ({ payload: r }))];\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 340,
    "wires": [["ff-fn-wa-bc"]]
  },
  {
    "id": "ff-fn-wa-bc",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build WA per Recipient",
    "func": "const FONNTE_TOKEN = env.get('FONNTE_TOKEN');\nconst r = msg.payload;\n\nif (!r || !r.phone || !r.id) return null;\n\nmsg._recipient_id = r.id;\n\nlet phone = String(r.phone).replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nconst content = (r.broadcast && r.broadcast.content)\n  ? r.broadcast.content\n  : '(pesan kosong)';\n\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': FONNTE_TOKEN, 'Content-Type': 'application/json' };\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.payload = JSON.stringify({\n  target:      phone,\n  message:     content,\n  countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 340,
    "wires": [["ff-http-fn-bc"]]
  },
  {
    "id": "ff-http-fn-bc",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ Fonnte (kirim WA)",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1320,
    "y": 340,
    "wires": [["ff-fn-mark"]]
  },
  {
    "id": "ff-fn-mark",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build mark_recipient",
    "func": "const fonnteResp   = msg.payload;\nconst recipient_id = msg._recipient_id;\n\n// Fonnte mengembalikan { status: true } jika berhasil\nconst ok = fonnteResp && fonnteResp.status === true;\n\nnode.status({\n  fill:  ok ? 'green' : 'red',\n  shape: 'dot',\n  text:  ok ? 'sent: ' + recipient_id : 'failed: ' + recipient_id\n});\n\nmsg.method  = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': env.get('NODERED_WEBHOOK_SECRET')\n};\nmsg.url     = env.get('APP_URL') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({\n  action:       'mark_recipient',\n  recipient_id: recipient_id,\n  status:       ok ? 'sent' : 'failed'\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1530,
    "y": 340,
    "wires": [["ff-http-mark"]]
  },
  {
    "id": "ff-http-mark",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ mark_recipient",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1730,
    "y": 340,
    "wires": [["ff-dbg-bc"]]
  },
  {
    "id": "ff-dbg-bc",
    "type": "debug",
    "z": "ff-tab1",
    "name": "✅ Broadcast Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1940,
    "y": 340,
    "wires": []
  },

  {
    "id": "ff-comment-d",
    "type": "comment",
    "z": "ff-tab2",
    "name": "D. NOTIFIKASI REGISTRASI BARU → WA Instruktur (via Supabase DB Webhook)",
    "info": "Ketika ada pendaftar baru di event:\n1. Supabase memanggil endpoint ini (daftarkan di Supabase Dashboard → Database → Webhooks)\n2. Node-RED mem-parse data pendaftar\n3. Kirim WA notifikasi ke instruktur\n4. Balas 200 OK ke Supabase\n\nSetup Supabase Webhook:\n- Table: registrations, Event: INSERT\n- URL: http://{IP-NODE-RED}:1880/fitflow/new-registration",
    "x": 320,
    "y": 40,
    "wires": []
  },
  {
    "id": "ff-in-reg",
    "type": "http in",
    "z": "ff-tab2",
    "name": "POST /fitflow/new-registration",
    "url": "/fitflow/new-registration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 100,
    "wires": [["ff-fn-reg"]]
  },
  {
    "id": "ff-fn-reg",
    "type": "function",
    "z": "ff-tab2",
    "name": "Parse & Format Notif Registrasi",
    "func": "const FONNTE_TOKEN = env.get('FONNTE_TOKEN');\nconst INSTR_PHONE  = env.get('FITFLOW_INSTRUCTOR_PHONE');\nconst APP_URL      = env.get('APP_URL');\n\n// Payload dari Supabase DB Webhook:\n// { type: 'INSERT', table: 'registrations', record: { ... }, schema: 'public' }\nconst body   = msg.payload;\nconst record = (body && body.record) ? body.record : body;\n\nif (!record || !record.registrant_name) {\n  // Balas 400 ke Supabase\n  msg.payload    = JSON.stringify({ ok: false, error: 'payload tidak valid' });\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nconst rupiah = n => 'Rp ' + Number(n || 0).toLocaleString('id-ID');\nconst nama   = record.registrant_name  || '(tidak diketahui)';\nconst telp   = record.registrant_phone || '-';\nconst tier   = record.tier === 'early_bird' ? 'Early Bird 🔥' : 'OTS';\nconst jumlah = rupiah(record.amount_paid);\nconst bukti  = record.proof_url\n  ? '\\n📎 Bukti: ' + record.proof_url\n  : '\\n⚠️ Bukti belum diupload';\n\nconst pesan =\n  '🎉 *Pendaftaran Baru!*\\n\\n' +\n  '👤 *Nama:* ' + nama + '\\n' +\n  '📱 *HP:* ' + telp + '\\n' +\n  '🎟️ *Tier:* ' + tier + '\\n' +\n  '💰 *Bayar:* ' + jumlah +\n  bukti + '\\n\\n' +\n  '👉 Konfirmasi di: ' + APP_URL + '/events';\n\n// Output 1: kirim WA ke instruktur\nconst waMsg = {\n  method:  'POST',\n  headers: { 'Authorization': FONNTE_TOKEN, 'Content-Type': 'application/json' },\n  url:     'https://api.fonnte.com/send',\n  payload: JSON.stringify({ target: INSTR_PHONE, message: pesan, countryCode: '62' })\n};\n\n// Output 2: balas 200 OK ke Supabase segera\nmsg.payload    = JSON.stringify({ ok: true });\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json' };\n\nreturn [waMsg, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 100,
    "wires": [["ff-http-fn-reg"], ["ff-resp-reg"]]
  },
  {
    "id": "ff-http-fn-reg",
    "type": "http request",
    "z": "ff-tab2",
    "name": "→ Fonnte (notif instruktur)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 820,
    "y": 80,
    "wires": [["ff-dbg-reg"]]
  },
  {
    "id": "ff-dbg-reg",
    "type": "debug",
    "z": "ff-tab2",
    "name": "✅ Notif Registrasi Terkirim",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1070,
    "y": 80,
    "wires": []
  },
  {
    "id": "ff-resp-reg",
    "type": "http response",
    "z": "ff-tab2",
    "name": "HTTP 200 OK",
    "statusCode": "",
    "headers": {},
    "x": 820,
    "y": 140,
    "wires": []
  },

  {
    "id": "ff-comment-e",
    "type": "comment",
    "z": "ff-tab2",
    "name": "E. RELAY WA INCOMING → AI Bot FitFlow (Claude AI)",
    "info": "Meneruskan pesan WA masuk dari Fonnte ke app FitFlow.\nApp akan menjawab otomatis dengan Claude AI berdasarkan jadwal & event instruktur.\n\nSetup Fonnte:\n- Dashboard Fonnte → Device → pilih device WA instruktur → Webhook\n- URL: http://{IP-NODE-RED}:1880/fitflow/wa-incoming\n- Method: POST\n\nCatatan: FONNTE_WEBHOOK_KEY harus sama dengan env var FONNTE_WEBHOOK_KEY di Vercel.",
    "x": 280,
    "y": 240,
    "wires": []
  },
  {
    "id": "ff-in-wa",
    "type": "http in",
    "z": "ff-tab2",
    "name": "POST /fitflow/wa-incoming",
    "url": "/fitflow/wa-incoming",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 300,
    "wires": [["ff-fn-fwd-wa"]]
  },
  {
    "id": "ff-fn-fwd-wa",
    "type": "function",
    "z": "ff-tab2",
    "name": "Forward ke /api/wa/incoming",
    "func": "const APP_URL    = env.get('APP_URL');\nconst FONNTE_KEY = env.get('FONNTE_WEBHOOK_KEY');\n\n// Teruskan body Fonnte apa adanya ke app\nconst originalBody = msg.payload;\n\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = APP_URL + '/api/wa/incoming?key=' + encodeURIComponent(FONNTE_KEY);\nmsg.payload = JSON.stringify(originalBody);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 300,
    "wires": [["ff-http-fwd-wa"]]
  },
  {
    "id": "ff-http-fwd-wa",
    "type": "http request",
    "z": "ff-tab2",
    "name": "→ /api/wa/incoming",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 700,
    "y": 300,
    "wires": [["ff-fn-wa-resp"]]
  },
  {
    "id": "ff-fn-wa-resp",
    "type": "function",
    "z": "ff-tab2",
    "name": "Siapkan Response ke Fonnte",
    "func": "// Kembalikan 200 OK ke Fonnte\nmsg.payload    = JSON.stringify({ ok: true });\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 300,
    "wires": [["ff-resp-wa"]]
  },
  {
    "id": "ff-resp-wa",
    "type": "http response",
    "z": "ff-tab2",
    "name": "HTTP 200 OK",
    "statusCode": "",
    "headers": {},
    "x": 1110,
    "y": 300,
    "wires": []
  }
]
