nodered-flows.json
[
  {
    "id": "ff-tab1",
    "type": "tab",
    "label": "FuelOS",
    "disabled": false,
    "info": "Isi 4 nilai di node CONFIG (paling atas), lalu Deploy. Tidak perlu diubah lagi.\nSemua data instruktur diambil otomatis dari database FuelOS."
  },

  {
    "id": "ff-comment-config",
    "type": "comment",
    "z": "ff-tab1",
    "name": "⚙️ CONFIG - Isi 4 nilai ini SATU KALI, tidak perlu diubah lagi",
    "info": "4 server secret dari file .env.local project FuelOS:\n  NODERED_WEBHOOK_SECRET\n  CRON_SECRET\n  FONNTE_WEBHOOK_KEY (untuk relay WA incoming)\n\nTidak ada data instruktur di sini - semua diambil otomatis dari database.",
    "x": 280,
    "y": 40,
    "wires": []
  },
  {
    "id": "ff-inj-config",
    "type": "inject",
    "z": "ff-tab1",
    "name": "▶ Sekali saat Deploy",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [["ff-fn-config"]]
  },
  {
    "id": "ff-fn-config",
    "type": "function",
    "z": "ff-tab1",
    "name": "Config FuelOS",
    "func": "// ── GANTI 4 NILAI INI, TIDAK PERLU UBAH LAGI ────────────\nflow.set('app_url',            'https://GANTI-URL-GETFUEL.app');\nflow.set('nodered_secret',     'GANTI-NODERED_WEBHOOK_SECRET');\nflow.set('cron_secret',        'GANTI-CRON_SECRET');\nflow.set('fonnte_webhook_key', 'GANTI-FONNTE_WEBHOOK_KEY');\n// ─────────────────────────────────────────────────────────\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Config OK ✓' });\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 80,
    "wires": [[]]
  },

  {
    "id": "ff-comment-c",
    "type": "comment",
    "z": "ff-tab1",
    "name": "C. BROADCAST WORKER: Kirim WA ke Member (polling setiap 30 detik)",
    "info": "Fonnte token diambil otomatis per instruktur dari API - tidak perlu config.",
    "x": 300,
    "y": 280,
    "wires": []
  },
  {
    "id": "ff-inj-broadcast",
    "type": "inject",
    "z": "ff-tab1",
    "name": "🔄 Setiap 30 detik",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "x": 170,
    "y": 320,
    "wires": [["ff-fn-pending"]]
  },
  {
    "id": "ff-fn-pending",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build get_pending_recipients",
    "func": "msg.method  = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': flow.get('nodered_secret')\n};\nmsg.url     = flow.get('app_url') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({ action: 'get_pending_recipients', limit: 20 });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [["ff-http-pending"]]
  },
  {
    "id": "ff-http-pending",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ get_pending_recipients",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 670,
    "y": 320,
    "wires": [["ff-fn-split"]]
  },
  {
    "id": "ff-fn-split",
    "type": "function",
    "z": "ff-tab1",
    "name": "Cek & Split",
    "func": "const data = msg.payload;\nif (!data || !data.ok || !Array.isArray(data.recipients) || data.recipients.length === 0) {\n  node.status({ fill: 'grey', shape: 'ring', text: 'kosong' });\n  return null;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: data.recipients.length + ' pending' });\nreturn [data.recipients.map(r => ({ payload: r }))];\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 320,
    "wires": [["ff-fn-wa-bc"]]
  },
  {
    "id": "ff-fn-wa-bc",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build WA per Recipient",
    "func": "const r = msg.payload;\nif (!r || !r.phone || !r.id || !r.fonnte_token) return null;\n\nmsg._recipient_id = r.id;\n\nlet phone = String(r.phone).replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nconst content = (r.broadcast && r.broadcast.content) ? r.broadcast.content : '(pesan kosong)';\n\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': r.fonnte_token, 'Content-Type': 'application/json' };\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.payload = JSON.stringify({ target: phone, message: content, countryCode: '62' });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 320,
    "wires": [["ff-http-fn-bc"]]
  },
  {
    "id": "ff-http-fn-bc",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ Fonnte",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 320,
    "wires": [["ff-fn-mark"]]
  },
  {
    "id": "ff-fn-mark",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build mark_recipient",
    "func": "const ok = msg.payload && msg.payload.status === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? 'sent' : 'failed' });\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json', 'x-webhook-secret': flow.get('nodered_secret') };\nmsg.url     = flow.get('app_url') + '/api/webhooks/nodered';\nmsg.payload = JSON.stringify({ action: 'mark_recipient', recipient_id: msg._recipient_id, status: ok ? 'sent' : 'failed' });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 320,
    "wires": [["ff-http-mark"]]
  },
  {
    "id": "ff-http-mark",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ mark_recipient",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1640,
    "y": 320,
    "wires": [[]]
  },

  {
    "id": "ff-comment-f",
    "type": "comment",
    "z": "ff-tab1",
    "name": "F. WA QUEUE WORKER: Proses Antrian Notifikasi WA (setiap 60 detik)",
    "info": "Proses wa_outbox semua instruktur sekaligus - sudah multi-instruktur by design.",
    "x": 300,
    "y": 420,
    "wires": []
  },
  {
    "id": "ff-inj-waq",
    "type": "inject",
    "z": "ff-tab1",
    "name": "⏱ Setiap 60 detik",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "topic": "",
    "x": 170,
    "y": 460,
    "wires": [["ff-fn-waq"]]
  },
  {
    "id": "ff-fn-waq",
    "type": "function",
    "z": "ff-tab1",
    "name": "Build process-queue",
    "func": "msg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + flow.get('cron_secret'), 'Content-Type': 'application/json' };\nmsg.url     = flow.get('app_url') + '/api/wa/process-queue';\nmsg.payload = '{}';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 460,
    "wires": [["ff-http-waq"]]
  },
  {
    "id": "ff-http-waq",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ /api/wa/process-queue",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 460,
    "wires": [["ff-fn-waq-log"]]
  },
  {
    "id": "ff-fn-waq-log",
    "type": "function",
    "z": "ff-tab1",
    "name": "Log",
    "func": "const r = msg.payload;\nif (!r || !r.ok) { node.status({ fill: 'red', shape: 'dot', text: 'error' }); return msg; }\nconst s = 'sent=' + (r.sent||0) + ' fail=' + (r.failed||0) + ' q=' + (r.processed||0);\nnode.status({ fill: (r.sent||0) > 0 ? 'green' : 'grey', shape: 'dot', text: s });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 460,
    "wires": [[]]
  },

  {
    "id": "ff-comment-e",
    "type": "comment",
    "z": "ff-tab1",
    "name": "E. RELAY WA INCOMING → AI Bot FuelOS",
    "info": "Meneruskan pesan WA masuk dari Fonnte ke FuelOS untuk dijawab AI.\n\nSetup Fonnte:\n- Dashboard → Device → pilih device → Webhook\n- URL: http://{IP-NODE-RED}:1880/fitflow/wa-incoming\n\nJika multi-instruktur: daftarkan webhook di semua device Fonnte ke URL yang sama.\nFuelOS yang mengidentifikasi instruktur dari nomor bot penerima.",
    "x": 240,
    "y": 560,
    "wires": []
  },
  {
    "id": "ff-in-wa",
    "type": "http in",
    "z": "ff-tab1",
    "name": "POST /fitflow/wa-incoming",
    "url": "/fitflow/wa-incoming",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 620,
    "wires": [["ff-fn-fwd-wa"]]
  },
  {
    "id": "ff-fn-fwd-wa",
    "type": "function",
    "z": "ff-tab1",
    "name": "Forward ke /api/wa/incoming",
    "func": "msg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = flow.get('app_url') + '/api/wa/incoming?key=' + encodeURIComponent(flow.get('fonnte_webhook_key'));\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 620,
    "wires": [["ff-http-fwd-wa"]]
  },
  {
    "id": "ff-http-fwd-wa",
    "type": "http request",
    "z": "ff-tab1",
    "name": "→ /api/wa/incoming",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 700,
    "y": 620,
    "wires": [["ff-fn-wa-resp"]]
  },
  {
    "id": "ff-fn-wa-resp",
    "type": "function",
    "z": "ff-tab1",
    "name": "Response ke Fonnte",
    "func": "msg.payload    = JSON.stringify({ ok: true });\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 620,
    "wires": [["ff-resp-wa"]]
  },
  {
    "id": "ff-resp-wa",
    "type": "http response",
    "z": "ff-tab1",
    "name": "HTTP 200 OK",
    "statusCode": "",
    "headers": {},
    "x": 1090,
    "y": 620,
    "wires": []
  }
]
