nodered/fitflow-flows.json
[
  {
    "id": "ff-tab",
    "type": "tab",
    "label": "FitFlow Coach",
    "disabled": false,
    "info": ""
  },

  {
    "id": "ff-cmt-hdr",
    "type": "comment",
    "z": "ff-tab",
    "name": "FitFlow Coach — Otomatisasi Node-RED",
    "info": "SETUP WAJIB — ubah di setiap node Function:\n\n1. FITFLOW_BASE_URL  → URL Next.js kamu (dev: http://localhost:3000)\n2. FITFLOW_SECRET    → isi NODERED_WEBHOOK_SECRET dari file .env kamu\n3. FONNTE_TOKEN      → token API Fonnte kamu (fonnte.com → Dashboard → Token)\n4. USER_ID           → UUID instruktur (Supabase → Authentication → Users → copy User UID)\n5. INSTRUCTOR_PHONE  → nomor WA instruktur format 628xxxx (untuk Flow 3)\n\nCara import: Node-RED menu (≡) → Import → tempel isi file ini.",
    "x": 250,
    "y": 40,
    "wires": []
  },

  {
    "id": "ff-cmt-1",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 1. Health Check (klik tombol ▶ untuk test koneksi) ───────────────────",
    "info": "",
    "x": 270,
    "y": 120,
    "wires": []
  },
  {
    "id": "ff-hc-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "Test Koneksi",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 160,
    "wires": [["ff-hc-fn"]]
  },
  {
    "id": "ff-hc-fn",
    "type": "function",
    "z": "ff-tab",
    "name": "Config",
    "func": "// ⚙️  KONFIGURASI — ubah nilai ini\nconst FITFLOW_BASE_URL = 'http://localhost:3000';\nconst FITFLOW_SECRET   = 'fitflow_nr_7x9k2m_secret';\n// ─────────────────────────────────────────────\n\nmsg.url    = FITFLOW_BASE_URL + '/api/webhooks/nodered';\nmsg.method = 'GET';\nmsg.headers = { 'x-webhook-secret': FITFLOW_SECRET };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 160,
    "wires": [["ff-hc-req"]]
  },
  {
    "id": "ff-hc-req",
    "type": "http request",
    "z": "ff-tab",
    "name": "GET /api/webhooks/nodered",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 500,
    "y": 160,
    "wires": [["ff-hc-dbg"]]
  },
  {
    "id": "ff-hc-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Health Check",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.ok",
    "statusType": "msg",
    "x": 700,
    "y": 160,
    "wires": []
  },

  {
    "id": "ff-cmt-2",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 2. Refresh Status Member — tiap tengah malam (00:00) ────────────────",
    "info": "",
    "x": 280,
    "y": 260,
    "wires": []
  },
  {
    "id": "ff-rf-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "Tiap 00:00",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "0 0 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 300,
    "wires": [["ff-rf-fn"]]
  },
  {
    "id": "ff-rf-fn",
    "type": "function",
    "z": "ff-tab",
    "name": "Config + Payload",
    "func": "// ⚙️  KONFIGURASI\nconst FITFLOW_BASE_URL = 'http://localhost:3000';\nconst FITFLOW_SECRET   = 'fitflow_nr_7x9k2m_secret';\n// ─────────────────────────────────────────────\n\nmsg.url    = FITFLOW_BASE_URL + '/api/webhooks/nodered';\nmsg.method = 'POST';\nmsg.headers = {\n    'x-webhook-secret': FITFLOW_SECRET,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({ action: 'refresh_statuses' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 300,
    "wires": [["ff-rf-req"]]
  },
  {
    "id": "ff-rf-req",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST refresh_statuses",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 500,
    "y": 300,
    "wires": [["ff-rf-dbg"]]
  },
  {
    "id": "ff-rf-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Refresh Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.updated",
    "statusType": "msg",
    "x": 700,
    "y": 300,
    "wires": []
  },

  {
    "id": "ff-cmt-3",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 3. Ringkasan Harian AI ke Instruktur — tiap 06:30 ──────────────────",
    "info": "",
    "x": 280,
    "y": 400,
    "wires": []
  },
  {
    "id": "ff-sm-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "Tiap 06:30",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "30 6 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 440,
    "wires": [["ff-sm-fn1"]]
  },
  {
    "id": "ff-sm-fn1",
    "type": "function",
    "z": "ff-tab",
    "name": "Config + Payload",
    "func": "// ⚙️  KONFIGURASI — WAJIB diubah!\nconst FITFLOW_BASE_URL  = 'http://localhost:3000';\nconst FITFLOW_SECRET    = 'fitflow_nr_7x9k2m_secret';\nconst USER_ID           = 'GANTI_DENGAN_UUID_INSTRUKTUR';\nconst INSTRUCTOR_PHONE  = '628xxxxxxxxx'; // format 628...\n// ─────────────────────────────────────────────\n\nmsg.url    = FITFLOW_BASE_URL + '/api/ai/daily-summary';\nmsg.method = 'POST';\nmsg.headers = {\n    'x-webhook-secret': FITFLOW_SECRET,\n    'Content-Type': 'application/json'\n};\nmsg.payload          = JSON.stringify({ user_id: USER_ID });\nmsg.instructorPhone  = INSTRUCTOR_PHONE;\nmsg.fitflowBaseUrl   = FITFLOW_BASE_URL;\nmsg.fitflowSecret    = FITFLOW_SECRET;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 440,
    "wires": [["ff-sm-req1"]]
  },
  {
    "id": "ff-sm-req1",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST /api/ai/daily-summary",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 510,
    "y": 440,
    "wires": [["ff-sm-fn2"]]
  },
  {
    "id": "ff-sm-fn2",
    "type": "function",
    "z": "ff-tab",
    "name": "Build WA ke Instruktur",
    "func": "// ⚙️  KONFIGURASI\nconst FONNTE_TOKEN = 'GANTI_DENGAN_TOKEN_FONNTE_KAMU';\n// ─────────────────────────────────────────────\n\nif (!msg.payload || !msg.payload.ok) {\n    node.warn('Daily summary gagal: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst summary = msg.payload.summary;\nlet phone = (msg.instructorPhone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nmsg.url    = 'https://api.fonnte.com/send';\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': FONNTE_TOKEN,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({\n    target:      phone,\n    message:     summary,\n    countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 440,
    "wires": [["ff-sm-req2"]]
  },
  {
    "id": "ff-sm-req2",
    "type": "http request",
    "z": "ff-tab",
    "name": "Fonnte: Kirim ke Instruktur",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 930,
    "y": 440,
    "wires": [["ff-sm-dbg"]]
  },
  {
    "id": "ff-sm-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Summary Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1130,
    "y": 440,
    "wires": []
  },

  {
    "id": "ff-cmt-4",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 4. Kirim Broadcast WhatsApp — polling tiap 2 menit ─────────────────",
    "info": "",
    "x": 290,
    "y": 560,
    "wires": []
  },
  {
    "id": "ff-bc-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "Tiap 2 Menit",
    "props": [{ "p": "payload" }],
    "repeat": "120",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 600,
    "wires": [["ff-bc-fn1"]]
  },
  {
    "id": "ff-bc-fn1",
    "type": "function",
    "z": "ff-tab",
    "name": "Get Pending Recipients",
    "func": "// ⚙️  KONFIGURASI\nconst FITFLOW_BASE_URL = 'http://localhost:3000';\nconst FITFLOW_SECRET   = 'fitflow_nr_7x9k2m_secret';\n// ─────────────────────────────────────────────\n\nmsg.url    = FITFLOW_BASE_URL + '/api/webhooks/nodered';\nmsg.method = 'POST';\nmsg.headers = {\n    'x-webhook-secret': FITFLOW_SECRET,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({ action: 'get_pending_recipients', limit: 20 });\n\n// Simpan config agar bisa dipakai node berikutnya\nmsg.fitflowBaseUrl = FITFLOW_BASE_URL;\nmsg.fitflowSecret  = FITFLOW_SECRET;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 600,
    "wires": [["ff-bc-req1"]]
  },
  {
    "id": "ff-bc-req1",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST get_pending_recipients",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 550,
    "y": 600,
    "wires": [["ff-bc-fn2"]]
  },
  {
    "id": "ff-bc-fn2",
    "type": "function",
    "z": "ff-tab",
    "name": "Cek Ada Recipients?",
    "func": "if (!msg.payload || !msg.payload.ok ||\n    !msg.payload.recipients ||\n    msg.payload.recipients.length === 0) {\n    return null; // tidak ada broadcast pending — stop\n}\nmsg.payload = msg.payload.recipients;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 600,
    "wires": [["ff-bc-split"]]
  },
  {
    "id": "ff-bc-split",
    "type": "split",
    "z": "ff-tab",
    "name": "Per Penerima",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 960,
    "y": 600,
    "wires": [["ff-bc-delay"]]
  },
  {
    "id": "ff-bc-delay",
    "type": "delay",
    "z": "ff-tab",
    "name": "Jeda 1 detik",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1120,
    "y": 600,
    "wires": [["ff-bc-fn3"]]
  },
  {
    "id": "ff-bc-fn3",
    "type": "function",
    "z": "ff-tab",
    "name": "Build WA Payload",
    "func": "// ⚙️  KONFIGURASI\nconst FONNTE_TOKEN = 'GANTI_DENGAN_TOKEN_FONNTE_KAMU';\n// ─────────────────────────────────────────────\n\nconst recipient = msg.payload;\n// broadcast bisa array (Supabase foreign key expand) atau object\nconst bc = Array.isArray(recipient.broadcast)\n    ? recipient.broadcast[0]\n    : recipient.broadcast;\n\n// Simpan untuk digunakan setelah WA terkirim\nmsg.recipientId   = recipient.id;\n// Teruskan config dari node sebelumnya\nmsg.fitflowBaseUrl = msg.fitflowBaseUrl || 'http://localhost:3000';\nmsg.fitflowSecret  = msg.fitflowSecret  || 'fitflow_nr_7x9k2m_secret';\n\n// Format nomor HP (pastikan format 62xxx)\nlet phone = (recipient.phone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nmsg.url    = 'https://api.fonnte.com/send';\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': FONNTE_TOKEN,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({\n    target:      phone,\n    message:     bc ? bc.content : 'Halo dari FitFlow Coach!',\n    countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1290,
    "y": 600,
    "wires": [["ff-bc-wa"]]
  },
  {
    "id": "ff-bc-wa",
    "type": "http request",
    "z": "ff-tab",
    "name": "Fonnte: Kirim WA",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1470,
    "y": 600,
    "wires": [["ff-bc-fn4"]]
  },
  {
    "id": "ff-bc-fn4",
    "type": "function",
    "z": "ff-tab",
    "name": "Mark Sent / Failed",
    "func": "// Fonnte mengembalikan { status: true, ... } jika berhasil\nconst waOk = msg.statusCode === 200 &&\n             msg.payload && msg.payload.status === true;\n\nmsg.url    = msg.fitflowBaseUrl + '/api/webhooks/nodered';\nmsg.method = 'POST';\nmsg.headers = {\n    'x-webhook-secret': msg.fitflowSecret,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({\n    action:       'mark_recipient',\n    recipient_id: msg.recipientId,\n    status:       waOk ? 'sent' : 'failed'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1660,
    "y": 600,
    "wires": [["ff-bc-req2"]]
  },
  {
    "id": "ff-bc-req2",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST mark_recipient",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1850,
    "y": 600,
    "wires": [["ff-bc-dbg"]]
  },
  {
    "id": "ff-bc-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Broadcast Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.ok",
    "statusType": "msg",
    "x": 2030,
    "y": 600,
    "wires": []
  }
]
