nodered/fitflow-flows.json
[
  {
    "id": "ff-tab",
    "type": "tab",
    "label": "FuelOS",
    "disabled": false,
    "info": ""
  },

  {
    "id": "ff-cmt-hdr",
    "type": "comment",
    "z": "ff-tab",
    "name": "╔══ FuelOS - Otomatisasi Node-RED (IMPORT FILE INI SAJA) ══╗",
    "info": "CARA SETUP (hanya 1 langkah):\n\n1. Import file ini ke Node-RED\n2. Buka node '⚙️ SET CONFIG' - isi 6 nilai\n3. Klik Deploy\n4. Klik ▶ pada node '⚙️ SET CONFIG' satu kali\n\nTidak ada env vars global yang diubah → AMAN untuk Node-RED multi-app.\nSemua nilai disimpan di flow context (hanya berlaku di tab ini saja).\n\nFILE LAIN YANG BISA DIABAIKAN (tidak perlu diimport):\n- nodered-flows.json (root project)    ← versi lama pakai env vars global\n- nodered/fitflow-test-suite.json       ← opsional, untuk testing\n- nodered/fitflow-wabot-flow.json      ← opsional, untuk monitoring bot\n\nALUR DI FILE INI:\n1. ⚙️  Config         - set semua nilai sekali (simpan di flow context)\n2. 🔌 Health Check    - test koneksi ke FitFlow app\n3. 🌙 Refresh Status  - update status member tiap 00:00\n4. ☀️  Rekap Pagi     - WA statistik ke instruktur tiap 06:30\n5. 📢 Broadcast       - kirim antrian WA ke member (tiap 2 menit)\n6. 🎉 Notif Registrasi - WA ke instruktur saat ada pendaftar baru\n7. 🤖 WA Bot Relay    - teruskan pesan WA masuk ke AI bot",
    "x": 310,
    "y": 40,
    "wires": []
  },

  {
    "id": "ff-cmt-cfg",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── ⚙️  CONFIG - buka node di bawah, isi 6 nilai, lalu klik ▶ ────────────",
    "info": "",
    "x": 280,
    "y": 120,
    "wires": []
  },
  {
    "id": "ff-cfg-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "⚙️  SET CONFIG (klik setelah isi nilai di node sebelah)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 160,
    "wires": [["ff-cfg-fn"]]
  },
  {
    "id": "ff-cfg-fn",
    "type": "function",
    "z": "ff-tab",
    "name": "💾 Simpan Config (EDIT DI SINI)",
    "func": "// ╔══════════════════════════════════════════════════════════╗\n// ║  GANTI 6 NILAI INI - tidak perlu ubah node yang lain    ║\n// ╚══════════════════════════════════════════════════════════╝\n\nglobal.set('fitflow', {\n\n  // URL app FitFlow (Vercel production)\n  base_url:     'https://fitflow-coach-theta.vercel.app',\n\n  // Sama persis dengan NODERED_WEBHOOK_SECRET di .env Vercel\n  secret:       'GANTI_NODERED_WEBHOOK_SECRET',\n\n  // Token API Fonnte (fonnte.com → Dashboard → Token API)\n  fonnte_token: 'GANTI_TOKEN_FONNTE',\n\n  // Supabase user ID instruktur\n  // → FitFlow app → Settings → salin dari URL Supabase atau Supabase Dashboard → Auth → Users\n  user_id:      'GANTI_UUID_INSTRUKTUR',\n\n  // Nomor WA instruktur untuk terima rekap pagi & notif pendaftar\n  // Format: 628 + nomor tanpa 0 depan (contoh: 6281234567890)\n  instr_phone:  '628xxxxxxxxxxxx',\n\n  // Sama persis dengan FONNTE_WEBHOOK_KEY di .env Vercel\n  fonnte_key:   'GANTI_FONNTE_WEBHOOK_KEY'\n\n});\n\nconst cfg = global.get('fitflow');\nnode.status({ fill: 'green', shape: 'dot', text: '✅ Config aktif - ' + cfg.base_url });\nnode.warn('FitFlow config dimuat: ' + JSON.stringify(cfg));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 160,
    "wires": [[]]
  },

  {
    "id": "ff-cmt-1",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 🔌 Health Check - test koneksi ke FitFlow app ──────────────────────",
    "info": "",
    "x": 270,
    "y": 260,
    "wires": []
  },
  {
    "id": "ff-hc-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "▶ Test Koneksi",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 300,
    "wires": [["ff-hc-fn"]]
  },
  {
    "id": "ff-hc-fn",
    "type": "function",
    "z": "ff-tab",
    "name": "Build Request",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nmsg.method  = 'GET';\nmsg.headers = { 'x-webhook-secret': cfg.secret };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 300,
    "wires": [["ff-hc-req"]]
  },
  {
    "id": "ff-hc-req",
    "type": "http request",
    "z": "ff-tab",
    "name": "GET /api/webhooks/nodered",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 300,
    "wires": [["ff-hc-dbg"]]
  },
  {
    "id": "ff-hc-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Health Check",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.ok",
    "statusType": "msg",
    "x": 770,
    "y": 300,
    "wires": []
  },

  {
    "id": "ff-cmt-2",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 🌙 Refresh Status Member - tiap 00:00 ────────────────────────────────",
    "info": "",
    "x": 250,
    "y": 380,
    "wires": []
  },
  {
    "id": "ff-rf-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "🌙 Tiap 00:00",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "0 0 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 420,
    "wires": [["ff-rf-fn"]]
  },
  {
    "id": "ff-rf-fn",
    "type": "function",
    "z": "ff-tab",
    "name": "Build Request",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nmsg.method  = 'POST';\nmsg.headers = { 'x-webhook-secret': cfg.secret, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ action: 'refresh_statuses' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 420,
    "wires": [["ff-rf-req"]]
  },
  {
    "id": "ff-rf-req",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST refresh_statuses",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 420,
    "wires": [["ff-rf-dbg"]]
  },
  {
    "id": "ff-rf-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Refresh Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.updated",
    "statusType": "msg",
    "x": 770,
    "y": 420,
    "wires": []
  },

  {
    "id": "ff-cmt-3",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── ☀️  Rekap Harian ke Instruktur - tiap 06:30 ──────────────────────────",
    "info": "",
    "x": 270,
    "y": 500,
    "wires": []
  },
  {
    "id": "ff-sm-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "☀️ Tiap 06:30",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "30 6 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 540,
    "wires": [["ff-sm-fn1"]]
  },
  {
    "id": "ff-sm-fn1",
    "type": "function",
    "z": "ff-tab",
    "name": "Build get_stats",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nmsg.method  = 'POST';\nmsg.headers = { 'x-webhook-secret': cfg.secret, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ action: 'get_stats', user_id: cfg.user_id });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 540,
    "wires": [["ff-sm-req1"]]
  },
  {
    "id": "ff-sm-req1",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST get_stats",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 540,
    "wires": [["ff-sm-fn2"]]
  },
  {
    "id": "ff-sm-fn2",
    "type": "function",
    "z": "ff-tab",
    "name": "Format WA Rekap Pagi",
    "func": "const cfg  = global.get('fitflow') || {};\nconst data = msg.payload;\n\nif (!data || !data.ok || !data.stats) {\n  node.warn('get_stats gagal: ' + JSON.stringify(data));\n  return null;\n}\n\nconst s = data.stats;\nconst rupiah = n => 'Rp ' + Number(n || 0).toLocaleString('id-ID');\n\nconst tgl = new Date().toLocaleDateString('id-ID', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nlet sessionLines = '  (tidak ada sesi hari ini)';\nif (s.sessions && s.sessions.length > 0) {\n  sessionLines = s.sessions.map(ses => {\n    const jam = (ses.start_time || '').slice(0, 5);\n    return '  • ' + ses.class_name + (jam ? ' ' + jam : '') +\n      ' - ' + (ses.attended_count || 0) + ' hadir, ' + rupiah(ses.session_revenue);\n  }).join('\\n');\n}\n\nconst pesan =\n  '📊 *Rekap Harian FitFlow*\\n' +\n  tgl + '\\n\\n' +\n  '🏋️‍♀️ Sesi hari ini: *' + s.sessions_today + '*\\n' +\n  '👥 Total hadir: *' + s.attended_today + ' orang*\\n' +\n  '💰 Pendapatan: *' + rupiah(s.revenue_today) + '*\\n' +\n  '⏳ Menunggu konfirmasi: *' + s.pending_payments + '*\\n' +\n  '⚠️ Perlu Follow Up: *' + s.at_risk_members + ' member*\\n\\n' +\n  'Detail sesi:\\n' + sessionLines;\n\nlet phone = (cfg.instr_phone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': cfg.fonnte_token, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ target: phone, message: pesan, countryCode: '62' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 540,
    "wires": [["ff-sm-req2"]]
  },
  {
    "id": "ff-sm-req2",
    "type": "http request",
    "z": "ff-tab",
    "name": "Fonnte: Kirim WA Rekap",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 990,
    "y": 540,
    "wires": [["ff-sm-dbg"]]
  },
  {
    "id": "ff-sm-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Rekap Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1180,
    "y": 540,
    "wires": []
  },

  {
    "id": "ff-cmt-4",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 📢 Broadcast Worker - kirim WA ke member (tiap 2 menit) ─────────────",
    "info": "",
    "x": 280,
    "y": 640,
    "wires": []
  },
  {
    "id": "ff-bc-inj",
    "type": "inject",
    "z": "ff-tab",
    "name": "📢 Tiap 2 Menit",
    "props": [{ "p": "payload" }],
    "repeat": "120",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 680,
    "wires": [["ff-bc-fn1"]]
  },
  {
    "id": "ff-bc-fn1",
    "type": "function",
    "z": "ff-tab",
    "name": "Build get_pending_recipients",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.fitflow_cfg = cfg;\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nmsg.method  = 'POST';\nmsg.headers = { 'x-webhook-secret': cfg.secret, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ action: 'get_pending_recipients', limit: 20 });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 680,
    "wires": [["ff-bc-req1"]]
  },
  {
    "id": "ff-bc-req1",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST get_pending_recipients",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 680,
    "wires": [["ff-bc-fn2"]]
  },
  {
    "id": "ff-bc-fn2",
    "type": "function",
    "z": "ff-tab",
    "name": "Cek Ada Antrian?",
    "func": "if (!msg.payload || !msg.payload.ok ||\n    !msg.payload.recipients ||\n    msg.payload.recipients.length === 0) {\n  node.status({ fill: 'grey', shape: 'ring', text: 'antrian kosong' });\n  return null;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: msg.payload.recipients.length + ' pending' });\nmsg.payload = msg.payload.recipients;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 680,
    "wires": [["ff-bc-split"]]
  },
  {
    "id": "ff-bc-split",
    "type": "split",
    "z": "ff-tab",
    "name": "Per Penerima",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1030,
    "y": 680,
    "wires": [["ff-bc-delay"]]
  },
  {
    "id": "ff-bc-delay",
    "type": "delay",
    "z": "ff-tab",
    "name": "Jeda 1 detik",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1200,
    "y": 680,
    "wires": [["ff-bc-fn3"]]
  },
  {
    "id": "ff-bc-fn3",
    "type": "function",
    "z": "ff-tab",
    "name": "Build WA per Recipient",
    "func": "const cfg = msg.fitflow_cfg || global.get('fitflow') || {};\nconst recipient = msg.payload;\n\nconst bc = Array.isArray(recipient.broadcast)\n  ? recipient.broadcast[0]\n  : recipient.broadcast;\n\nmsg.recipientId = recipient.id;\nmsg.fitflow_cfg = cfg;\n\nlet phone = (recipient.phone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': cfg.fonnte_token, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({\n  target:      phone,\n  message:     bc ? bc.content : '(pesan kosong)',\n  countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1390,
    "y": 680,
    "wires": [["ff-bc-wa"]]
  },
  {
    "id": "ff-bc-wa",
    "type": "http request",
    "z": "ff-tab",
    "name": "Fonnte: Kirim WA",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1570,
    "y": 680,
    "wires": [["ff-bc-fn4"]]
  },
  {
    "id": "ff-bc-fn4",
    "type": "function",
    "z": "ff-tab",
    "name": "Build mark_recipient",
    "func": "const cfg = msg.fitflow_cfg || global.get('fitflow') || {};\nconst ok  = msg.statusCode === 200 && msg.payload && msg.payload.status === true;\n\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ sent' : '❌ failed' });\n\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nmsg.method  = 'POST';\nmsg.headers = { 'x-webhook-secret': cfg.secret, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({\n  action:       'mark_recipient',\n  recipient_id: msg.recipientId,\n  status:       ok ? 'sent' : 'failed'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1760,
    "y": 680,
    "wires": [["ff-bc-req2"]]
  },
  {
    "id": "ff-bc-req2",
    "type": "http request",
    "z": "ff-tab",
    "name": "POST mark_recipient",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1950,
    "y": 680,
    "wires": [["ff-bc-dbg"]]
  },
  {
    "id": "ff-bc-dbg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Broadcast Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.ok",
    "statusType": "msg",
    "x": 2130,
    "y": 680,
    "wires": []
  },

  {
    "id": "ff-cmt-5",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 🎉 Notif Registrasi Baru → WA Instruktur ────────────────────────────",
    "info": "Daftarkan URL ini ke Supabase:\n  Dashboard Supabase → Database → Webhooks → Create Webhook\n  Table: registrations | Event: INSERT\n  URL: http://{IP-NODE-RED}:1880/fitflow/new-registration\n\nATAU jalankan SQL:\n  supabase/migrations/005_nodered_registration_trigger.sql",
    "x": 270,
    "y": 780,
    "wires": []
  },
  {
    "id": "ff-in-reg",
    "type": "http in",
    "z": "ff-tab",
    "name": "POST /fitflow/new-registration",
    "url": "/fitflow/new-registration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 820,
    "wires": [["ff-fn-reg"]]
  },
  {
    "id": "ff-fn-reg",
    "type": "function",
    "z": "ff-tab",
    "name": "Parse & Kirim Notif ke Instruktur",
    "func": "const cfg = global.get('fitflow') || {};\n\n// Supabase DB Webhook format: { type, table, record: {...} }\nconst body   = msg.payload;\nconst record = (body && body.record) ? body.record : body;\n\nif (!record || !record.registrant_name) {\n  msg.payload    = JSON.stringify({ ok: false, error: 'payload tidak valid' });\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nconst rupiah = n => 'Rp ' + Number(n || 0).toLocaleString('id-ID');\nconst nama   = record.registrant_name  || '?';\nconst telp   = record.registrant_phone || '-';\nconst tier   = record.tier === 'early_bird' ? 'Early Bird 🔥' : 'OTS';\nconst bukti  = record.proof_url\n  ? '\\n📎 Bukti: ' + record.proof_url\n  : '\\n⚠️ Bukti belum diupload';\n\nconst pesan =\n  '🎉 *Pendaftaran Baru!*\\n\\n' +\n  '👤 *Nama:* ' + nama + '\\n' +\n  '📱 *HP:* ' + telp + '\\n' +\n  '🎟️ *Tier:* ' + tier + '\\n' +\n  '💰 *Bayar:* ' + rupiah(record.amount_paid) +\n  bukti + '\\n\\n' +\n  '👉 Konfirmasi di: ' + cfg.base_url + '/events';\n\nlet phone = (cfg.instr_phone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\n// Output 1: kirim WA ke instruktur\nconst waMsg = {\n  method:  'POST',\n  headers: { 'Authorization': cfg.fonnte_token, 'Content-Type': 'application/json' },\n  url:     'https://api.fonnte.com/send',\n  payload: JSON.stringify({ target: phone, message: pesan, countryCode: '62' })\n};\n\n// Output 2: balas 200 OK ke Supabase segera\nmsg.payload    = JSON.stringify({ ok: true });\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json' };\n\nreturn [waMsg, msg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 820,
    "wires": [["ff-http-reg"], ["ff-resp-reg"]]
  },
  {
    "id": "ff-http-reg",
    "type": "http request",
    "z": "ff-tab",
    "name": "Fonnte: Notif Instruktur",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 830,
    "y": 800,
    "wires": [["ff-dbg-reg"]]
  },
  {
    "id": "ff-dbg-reg",
    "type": "debug",
    "z": "ff-tab",
    "name": "Notif Reg Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 800,
    "wires": []
  },
  {
    "id": "ff-resp-reg",
    "type": "http response",
    "z": "ff-tab",
    "name": "HTTP 200 OK",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 860,
    "wires": []
  },

  {
    "id": "ff-cmt-6",
    "type": "comment",
    "z": "ff-tab",
    "name": "─── 🤖 WA Bot - pesan masuk Fonnte → AI FitFlow ────────────────────────",
    "info": "Device Fonnte KHUSUS FitFlow (kontak/nomor tersendiri).\n\nSetup webhook di Fonnte:\n  Dashboard → Device → pilih device FitFlow → Webhook\n  URL: https://nodered.sistemtelemetri.com/fitflow/wa-incoming\n\nSetiap pesan masuk ke nomor FitFlow akan diteruskan\nke /api/wa/incoming di aplikasi untuk diproses AI.",
    "x": 280,
    "y": 940,
    "wires": []
  },
  {
    "id": "ff-in-wa",
    "type": "http in",
    "z": "ff-tab",
    "name": "POST /fitflow/wa-incoming",
    "url": "/fitflow/wa-incoming",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 980,
    "wires": [["ff-fn-wa-split"]]
  },
  {
    "id": "ff-fn-wa-split",
    "type": "function",
    "z": "ff-tab",
    "name": "Split: 200 OK + Forward async",
    "func": "const cfg  = global.get('fitflow') || {};\nconst body = msg.payload;\n\n// Output 1: langsung balas 200 OK ke Fonnte (cegah retry)\nconst resp = { ...msg };\nresp.statusCode = 200;\nresp.payload    = JSON.stringify({ ok: true });\nresp.headers    = { 'Content-Type': 'application/json' };\n\n// Output 2: forward ke FitFlow - tambahkan instructor_id dari config\nconst fwd = {\n  method:  'POST',\n  headers: { 'Content-Type': 'application/json' },\n  url:     cfg.base_url + '/api/wa/incoming?key=' + encodeURIComponent(cfg.fonnte_key),\n  payload: JSON.stringify({ ...body, instructor_id: cfg.user_id })\n};\n\nreturn [resp, fwd];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 980,
    "wires": [["ff-resp-wa"], ["ff-http-fwd-wa"]]
  },
  {
    "id": "ff-resp-wa",
    "type": "http response",
    "z": "ff-tab",
    "name": "200 OK → Fonnte (segera)",
    "statusCode": "200",
    "headers": {},
    "x": 700,
    "y": 960,
    "wires": []
  },
  {
    "id": "ff-http-fwd-wa",
    "type": "http request",
    "z": "ff-tab",
    "name": "→ /api/wa/incoming",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 700,
    "y": 1010,
    "wires": [["ff-dbg-wa"]]
  },
  {
    "id": "ff-dbg-wa",
    "type": "debug",
    "z": "ff-tab",
    "name": "✅ WA Bot Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 1010,
    "wires": []
  }
]
