nodered/fitflow-test-suite.json
[
  {
    "id": "test-tab",
    "type": "tab",
    "label": "FitFlow - Test Suite",
    "disabled": false,
    "info": "Semua test membaca config dari flow context (global.get('fitflow')).\nPastikan tab 'FuelOS' sudah di-deploy dan config sudah diisi & dijalankan sebelum test ini."
  },

  {
    "id": "test-cmt-hdr",
    "type": "comment",
    "z": "test-tab",
    "name": "╔══ FitFlow Test Suite - jalankan berurutan dari atas ke bawah ══╗",
    "info": "SYARAT SEBELUM TEST:\n1. Tab 'FuelOS' sudah di-deploy\n2. Node '⚙️ SET CONFIG' sudah diklik (config aktif)\n3. Klik tombol inject (▶) di kiri setiap baris untuk jalankan test\n4. Lihat hasil di panel Debug (kanan)",
    "x": 290,
    "y": 40,
    "wires": []
  },

  {
    "id": "test-cmt-1",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 1. CEK CONFIG - pastikan semua nilai sudah terisi ━━━━━━━━━━━━━━━━━",
    "info": "",
    "x": 270,
    "y": 120,
    "wires": []
  },
  {
    "id": "test-inj-cfg",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Cek Config",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 160,
    "wires": [["test-fn-cfg"]]
  },
  {
    "id": "test-fn-cfg",
    "type": "function",
    "z": "test-tab",
    "name": "Tampilkan Config",
    "func": "const cfg = global.get('fitflow');\n\nif (!cfg) {\n  node.status({ fill: 'red', shape: 'dot', text: '❌ Config belum diset!' });\n  msg.payload = '❌ Config belum ada!\\n\\nBuka tab FuelOS → klik node SET CONFIG → klik ▶';\n  return msg;\n}\n\nconst fields = ['base_url','secret','fonnte_token','fonnte_key','user_id','instr_phone'];\nconst missing = fields.filter(f => !cfg[f] || cfg[f].startsWith('GANTI'));\n\nif (missing.length > 0) {\n  node.status({ fill: 'yellow', shape: 'dot', text: '⚠️ ' + missing.length + ' field belum diisi' });\n  msg.payload = '⚠️ Field ini belum diisi:\\n' + missing.map(f => '  - ' + f).join('\\n') +\n    '\\n\\nBuka node SET CONFIG dan isi nilai yang kosong.';\n} else {\n  node.status({ fill: 'green', shape: 'dot', text: '✅ Semua config lengkap' });\n  msg.payload = '✅ Config lengkap:\\n' +\n    '  base_url:     ' + cfg.base_url + '\\n' +\n    '  secret:       ' + cfg.secret.slice(0,8) + '...\\n' +\n    '  fonnte_token: ' + cfg.fonnte_token.slice(0,8) + '...\\n' +\n    '  fonnte_key:   ' + cfg.fonnte_key + '\\n' +\n    '  user_id:      ' + cfg.user_id.slice(0,8) + '...\\n' +\n    '  instr_phone:  ' + cfg.instr_phone;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 160,
    "wires": [["test-dbg-cfg"]]
  },
  {
    "id": "test-dbg-cfg",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Cek Config",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 160,
    "wires": []
  },

  {
    "id": "test-cmt-2",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 2. PING APP - test koneksi ke FitFlow di Vercel ━━━━━━━━━━━━━━━━━━━━",
    "info": "",
    "x": 260,
    "y": 240,
    "wires": []
  },
  {
    "id": "test-inj-ping",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Ping App",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 280,
    "wires": [["test-fn-ping"]]
  },
  {
    "id": "test-fn-ping",
    "type": "function",
    "z": "test-tab",
    "name": "Build Ping",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.method  = 'GET';\nmsg.headers = { 'x-webhook-secret': cfg.secret };\nmsg.url     = cfg.base_url + '/api/webhooks/nodered';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 280,
    "wires": [["test-http-ping"]]
  },
  {
    "id": "test-http-ping",
    "type": "http request",
    "z": "test-tab",
    "name": "GET /api/webhooks/nodered",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 280,
    "wires": [["test-fn-ping-check"]]
  },
  {
    "id": "test-fn-ping-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.ok === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ App OK' : '❌ Gagal ' + msg.statusCode });\nmsg.payload = ok\n  ? '✅ FitFlow app terhubung!\\n' + JSON.stringify(msg.payload, null, 2)\n  : '❌ Gagal (HTTP ' + msg.statusCode + ')\\nCek: base_url dan secret di config\\n\\n' + JSON.stringify(msg.payload, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 280,
    "wires": [["test-dbg-ping"]]
  },
  {
    "id": "test-dbg-ping",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Ping",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 280,
    "wires": []
  },

  {
    "id": "test-cmt-3",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 3. CEK FONNTE - validasi token Fonnte ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
    "info": "",
    "x": 240,
    "y": 360,
    "wires": []
  },
  {
    "id": "test-inj-fonnte",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Cek Token Fonnte",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 400,
    "wires": [["test-fn-fonnte"]]
  },
  {
    "id": "test-fn-fonnte",
    "type": "function",
    "z": "test-tab",
    "name": "Build Fonnte Check",
    "func": "const cfg = global.get('fitflow') || {};\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': cfg.fonnte_token };\nmsg.url     = 'https://api.fonnte.com/device';\nmsg.payload = JSON.stringify({});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 400,
    "wires": [["test-http-fonnte"]]
  },
  {
    "id": "test-http-fonnte",
    "type": "http request",
    "z": "test-tab",
    "name": "GET /device",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 590,
    "y": 400,
    "wires": [["test-fn-fonnte-check"]]
  },
  {
    "id": "test-fn-fonnte-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.statusCode === 200 && msg.payload && msg.payload.status === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ Token valid - ' + (msg.payload.name || '') : '❌ Token tidak valid' });\nmsg.payload = ok\n  ? '✅ Token Fonnte valid!\\nDevice: ' + (msg.payload.name || '-') + '\\nNomor: ' + (msg.payload.device || '-') + '\\nStatus: ' + (msg.payload.status_device || '-')\n  : '❌ Token Fonnte tidak valid\\nCek fonnte_token di config\\n\\n' + JSON.stringify(msg.payload, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 400,
    "wires": [["test-dbg-fonnte"]]
  },
  {
    "id": "test-dbg-fonnte",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Fonnte",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 400,
    "wires": []
  },

  {
    "id": "test-cmt-4",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 4. KIRIM WA TEST - kirim WA ke nomor instruktur ━━━━━━━━━━━━━━━━━━━",
    "info": "Mengirim WA ke nomor instr_phone yang ada di config.\nJika berhasil, nomor instruktur akan dapat pesan test.",
    "x": 270,
    "y": 480,
    "wires": []
  },
  {
    "id": "test-inj-wa",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Kirim WA Test",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 520,
    "wires": [["test-fn-wa"]]
  },
  {
    "id": "test-fn-wa",
    "type": "function",
    "z": "test-tab",
    "name": "Build WA Test",
    "func": "const cfg = global.get('fitflow') || {};\n\nlet phone = (cfg.instr_phone || '').replace(/\\D/g, '');\nif (phone.startsWith('0')) phone = '62' + phone.slice(1);\n\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': cfg.fonnte_token, 'Content-Type': 'application/json' };\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.payload = JSON.stringify({\n  target:      phone,\n  message:     '🧪 *Test FitFlow Node-RED*\\n\\nKoneksi Node-RED → Fonnte berhasil! ✅\\n\\nWaktu: ' + new Date().toLocaleString('id-ID'),\n  countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 520,
    "wires": [["test-http-wa"]]
  },
  {
    "id": "test-http-wa",
    "type": "http request",
    "z": "test-tab",
    "name": "POST Fonnte send",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 520,
    "wires": [["test-fn-wa-check"]]
  },
  {
    "id": "test-fn-wa-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.status === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ WA terkirim!' : '❌ Gagal kirim' });\nmsg.payload = ok\n  ? '✅ WA Test berhasil dikirim!\\nCek nomor instruktur - harus ada pesan masuk.'\n  : '❌ Gagal kirim WA\\nCek fonnte_token dan instr_phone di config\\n\\n' + JSON.stringify(msg.payload, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 520,
    "wires": [["test-dbg-wa"]]
  },
  {
    "id": "test-dbg-wa",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil WA Test",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 520,
    "wires": []
  },

  {
    "id": "test-cmt-5",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 5. SIMULASI PENDAFTARAN - test notif WA ke instruktur ━━━━━━━━━━━━━━",
    "info": "Simulasi ada pendaftar baru masuk.\nNode-RED kirim ke endpoint /fitflow/new-registration di dirinya sendiri.\nHasil: instruktur dapat WA notifikasi pendaftaran.",
    "x": 290,
    "y": 600,
    "wires": []
  },
  {
    "id": "test-inj-reg",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Simulasi Pendaftar Baru",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 640,
    "wires": [["test-fn-reg"]]
  },
  {
    "id": "test-fn-reg",
    "type": "function",
    "z": "test-tab",
    "name": "Build Simulasi Registrasi",
    "func": "msg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = 'http://localhost:1880/fitflow/new-registration';\nmsg.payload = JSON.stringify({\n  type:   'INSERT',\n  table:  'registrations',\n  schema: 'public',\n  record: {\n    id:               'test-' + Date.now(),\n    registrant_name:  'Siti Rahayu (TEST)',\n    registrant_phone: '081234567890',\n    tier:             'early_bird',\n    amount_paid:      150000,\n    proof_url:        null,\n    payment_status:   'pending',\n    event_id:         'event-test',\n    created_at:       new Date().toISOString()\n  },\n  old_record: null\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 640,
    "wires": [["test-http-reg"]]
  },
  {
    "id": "test-http-reg",
    "type": "http request",
    "z": "test-tab",
    "name": "POST /fitflow/new-registration",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 680,
    "y": 640,
    "wires": [["test-fn-reg-check"]]
  },
  {
    "id": "test-fn-reg-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.ok === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ Notif terkirim' : '❌ Gagal' });\nmsg.payload = ok\n  ? '✅ Simulasi berhasil!\\nCek WA instruktur - harus ada notif pendaftaran masuk.'\n  : '❌ Gagal (HTTP ' + msg.statusCode + ')\\n\\n' + JSON.stringify(msg.payload, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 640,
    "wires": [["test-dbg-reg"]]
  },
  {
    "id": "test-dbg-reg",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Simulasi Registrasi",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 640,
    "wires": []
  },

  {
    "id": "test-cmt-6",
    "type": "comment",
    "z": "test-tab",
    "name": "━━ 6. SIMULASI WA BOT - test AI merespons pesan masuk ━━━━━━━━━━━━━━━━━",
    "info": "Simulasi pesan WA masuk dari member ke bot FitFlow.\nGanti SENDER_PHONE di function node dengan nomor WA kamu.\nHasil: AI generate balasan dan kirim ke SENDER_PHONE.",
    "x": 280,
    "y": 720,
    "wires": []
  },
  {
    "id": "test-inj-bot",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Simulasi WA Masuk",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 760,
    "wires": [["test-fn-bot"]]
  },
  {
    "id": "test-fn-bot",
    "type": "function",
    "z": "test-tab",
    "name": "Build Simulasi WA Masuk",
    "func": "const cfg = global.get('fitflow') || {};\n\n// ⚙️ GANTI dengan nomor WA kamu - nomor ini yang akan terima balasan AI\nconst SENDER_PHONE = '6281234567890';\n\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = 'http://localhost:1880/fitflow/wa-incoming';\nmsg.payload = JSON.stringify({\n  device:        '628000000001',\n  sender:        SENDER_PHONE,\n  message:       'Halo kak, ada kelas zumba jam berapa ya minggu ini?',\n  name:          'Member Test',\n  id:            'msg_test_' + Date.now(),\n  instructor_id: cfg.user_id\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 760,
    "wires": [["test-http-bot"]]
  },
  {
    "id": "test-http-bot",
    "type": "http request",
    "z": "test-tab",
    "name": "POST /fitflow/wa-incoming",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 760,
    "wires": [["test-fn-bot-check"]]
  },
  {
    "id": "test-fn-bot-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.ok === true;\nnode.status({ fill: ok ? 'green' : 'red', shape: 'dot', text: ok ? '✅ Bot diproses' : '❌ Gagal' });\nmsg.payload = ok\n  ? '✅ Pesan diterima bot!\\nAI sedang proses... balasan WA akan datang ke SENDER_PHONE dalam beberapa detik.'\n  : '❌ Gagal (HTTP ' + msg.statusCode + ')\\n\\n' + JSON.stringify(msg.payload, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 760,
    "wires": [["test-dbg-bot"]]
  },
  {
    "id": "test-dbg-bot",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Simulasi WA Bot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1070,
    "y": 760,
    "wires": []
  }
]
