nodered/fitflow-test-suite.json
[
  {
    "id": "test-tab",
    "type": "tab",
    "label": "FitFlow - Test Suite & Setup",
    "disabled": false,
    "info": "Gunakan tab ini untuk:\n1. Verifikasi semua koneksi sebelum go-live\n2. Test manual setiap flow\n3. Simulasi pesan WA masuk\n4. Simulasi pendaftaran event baru\n\nJalankan setiap test dengan klik tombol inject (kotak di kiri node).\nHasil muncul di panel Debug (kanan)."
  },

  {
    "id": "test-cmt-1",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 1. TEST KONEKSI KE FITFLOW APP ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
    "info": "",
    "x": 270,
    "y": 40,
    "wires": []
  },
  {
    "id": "test-inj-ping",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Cek Koneksi App",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 80,
    "wires": [["test-fn-ping"]]
  },
  {
    "id": "test-fn-ping",
    "type": "function",
    "z": "test-tab",
    "name": "Build Health Check",
    "func": "msg.method  = 'GET';\nmsg.headers = { 'x-webhook-secret': env.get('NODERED_WEBHOOK_SECRET') };\nmsg.url     = env.get('APP_URL') + '/api/webhooks/nodered';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 80,
    "wires": [["test-http-ping"]]
  },
  {
    "id": "test-http-ping",
    "type": "http request",
    "z": "test-tab",
    "name": "GET /api/webhooks/nodered",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 600,
    "y": 80,
    "wires": [["test-fn-ping-check"]]
  },
  {
    "id": "test-fn-ping-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.ok === true;\nif (ok) {\n  node.status({ fill: 'green', shape: 'dot', text: '✅ Terhubung: ' + (msg.payload.service || 'FitFlow') });\n  msg.result = '✅ Koneksi FitFlow OK\\n' + JSON.stringify(msg.payload, null, 2);\n} else {\n  node.status({ fill: 'red', shape: 'dot', text: '❌ Gagal (status ' + msg.statusCode + ')' });\n  msg.result = '❌ Koneksi gagal (HTTP ' + msg.statusCode + ')\\n\\nPastikan:\\n- APP_URL sudah benar\\n- NODERED_WEBHOOK_SECRET sama dengan env Vercel\\n- App sudah deploy dan bisa diakses';\n}\nmsg.payload = msg.result;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 80,
    "wires": [["test-dbg-ping"]]
  },
  {
    "id": "test-dbg-ping",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Ping",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 80,
    "wires": []
  },

  {
    "id": "test-cmt-2",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 2. TEST KONEKSI KE FONNTE ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
    "info": "",
    "x": 240,
    "y": 160,
    "wires": []
  },
  {
    "id": "test-inj-fonnte",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Cek Koneksi Fonnte",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 200,
    "wires": [["test-fn-fonnte"]]
  },
  {
    "id": "test-fn-fonnte",
    "type": "function",
    "z": "test-tab",
    "name": "Build Fonnte Check",
    "func": "const FONNTE_TOKEN = env.get('FONNTE_TOKEN');\nmsg.method  = 'GET';\nmsg.headers = { 'Authorization': FONNTE_TOKEN };\nmsg.url     = 'https://api.fonnte.com/validate-token';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 200,
    "wires": [["test-http-fonnte"]]
  },
  {
    "id": "test-http-fonnte",
    "type": "http request",
    "z": "test-tab",
    "name": "GET validate-token",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 590,
    "y": 200,
    "wires": [["test-fn-fonnte-check"]]
  },
  {
    "id": "test-fn-fonnte-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.statusCode === 200 || (msg.payload && msg.payload.status !== false);\nif (ok) {\n  node.status({ fill: 'green', shape: 'dot', text: '✅ Token Fonnte valid' });\n  msg.payload = '✅ Fonnte terhubung OK\\n' + JSON.stringify(msg.payload, null, 2);\n} else {\n  node.status({ fill: 'red', shape: 'dot', text: '❌ Token Fonnte tidak valid' });\n  msg.payload = '❌ Fonnte gagal (HTTP ' + msg.statusCode + ')\\n\\nPastikan FONNTE_TOKEN sudah diset dengan benar di env vars Node-RED\\n\\n' + JSON.stringify(msg.payload, null, 2);\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 200,
    "wires": [["test-dbg-fonnte"]]
  },
  {
    "id": "test-dbg-fonnte",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Fonnte",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 200,
    "wires": []
  },

  {
    "id": "test-cmt-3",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 3. TEST KIRIM WA KE NOMOR INSTRUKTUR (gunakan nomor sendiri dulu) ━━",
    "info": "",
    "x": 310,
    "y": 280,
    "wires": []
  },
  {
    "id": "test-inj-wa",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Kirim WA Test",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 320,
    "wires": [["test-fn-wa"]]
  },
  {
    "id": "test-fn-wa",
    "type": "function",
    "z": "test-tab",
    "name": "Build WA Test",
    "func": "const FONNTE_TOKEN = env.get('FONNTE_TOKEN');\nconst TARGET_PHONE = env.get('FITFLOW_INSTRUCTOR_PHONE'); // kirim ke nomor instruktur\n\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': FONNTE_TOKEN, 'Content-Type': 'application/json' };\nmsg.url     = 'https://api.fonnte.com/send';\nmsg.payload = JSON.stringify({\n  target:      TARGET_PHONE,\n  message:     '🧪 *Test FitFlow Node-RED*\\n\\nKoneksi Node-RED → Fonnte berhasil! ✅\\n\\nWaktu: ' + new Date().toLocaleString('id-ID'),\n  countryCode: '62'\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 320,
    "wires": [["test-http-wa"]]
  },
  {
    "id": "test-http-wa",
    "type": "http request",
    "z": "test-tab",
    "name": "POST Fonnte send",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 320,
    "wires": [["test-fn-wa-check"]]
  },
  {
    "id": "test-fn-wa-check",
    "type": "function",
    "z": "test-tab",
    "name": "Cek Hasil",
    "func": "const ok = msg.payload && msg.payload.status === true;\nif (ok) {\n  node.status({ fill: 'green', shape: 'dot', text: '✅ WA terkirim!' });\n  msg.payload = '✅ WA Test terkirim!\\n\\nCek nomor instruktur, harus ada pesan masuk.';\n} else {\n  node.status({ fill: 'red', shape: 'dot', text: '❌ Gagal kirim WA' });\n  msg.payload = '❌ Gagal kirim WA\\n\\n' + JSON.stringify(msg.payload, null, 2);\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 320,
    "wires": [["test-dbg-wa"]]
  },
  {
    "id": "test-dbg-wa",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil WA Test",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 320,
    "wires": []
  },

  {
    "id": "test-cmt-4",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 4. SIMULASI PENDAFTARAN BARU (test Flow D tanpa Supabase) ━━━━━━━━",
    "info": "Kirim payload tiruan seolah-olah ada pendaftar baru.\nEndpoint /fitflow/new-registration harus sudah berjalan (deploy tab FitFlow - Webhook & Bot).",
    "x": 300,
    "y": 400,
    "wires": []
  },
  {
    "id": "test-inj-reg",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Simulasi Pendaftar Baru",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 440,
    "wires": [["test-fn-reg"]]
  },
  {
    "id": "test-fn-reg",
    "type": "function",
    "z": "test-tab",
    "name": "Build Simulasi Registrasi",
    "func": "// Payload simulasi — format sama dengan Supabase DB Webhook\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = 'http://localhost:1880/fitflow/new-registration';\nmsg.payload = JSON.stringify({\n  type:   'INSERT',\n  table:  'registrations',\n  schema: 'public',\n  record: {\n    id:               'test-' + Date.now(),\n    registrant_name:  'Siti Rahayu (TEST)',\n    registrant_phone: '081234567890',\n    tier:             'early_bird',\n    amount_paid:      150000,\n    proof_url:        null,\n    payment_status:   'pending',\n    event_id:         'event-id-test',\n    user_id:          'user-id-test',\n    created_at:       new Date().toISOString()\n  },\n  old_record: null\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 440,
    "wires": [["test-http-reg"]]
  },
  {
    "id": "test-http-reg",
    "type": "http request",
    "z": "test-tab",
    "name": "POST /fitflow/new-registration",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 680,
    "y": 440,
    "wires": [["test-dbg-reg"]]
  },
  {
    "id": "test-dbg-reg",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Simulasi Registrasi",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 440,
    "wires": []
  },

  {
    "id": "test-cmt-5",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 5. SIMULASI PESAN WA MASUK (test Flow E / AI Bot) ━━━━━━━━━━━━━━━",
    "info": "Kirim pesan tiruan seolah member WA ke nomor instruktur.\nPastikan FONNTE_WEBHOOK_KEY sudah diset di env vars.",
    "x": 290,
    "y": 520,
    "wires": []
  },
  {
    "id": "test-inj-bot",
    "type": "inject",
    "z": "test-tab",
    "name": "▶ Simulasi WA Masuk",
    "props": [{ "p": "payload", "v": "{}", "vt": "json" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 560,
    "wires": [["test-fn-bot"]]
  },
  {
    "id": "test-fn-bot",
    "type": "function",
    "z": "test-tab",
    "name": "Build Simulasi WA Masuk",
    "func": "// ⚙️ Ganti nilai di bawah sesuai setup Fonnte kamu\nconst DEVICE_PHONE  = '628' + '1234567890'; // nomor WA instruktur di Fonnte\nconst SENDER_PHONE  = '628' + '9876543210'; // nomor pengirim (harus BEDA dari device)\nconst TEST_PESAN    = 'Halo kak, ada kelas zumba jam berapa ya minggu ini?';\n\nconst APP_URL      = env.get('APP_URL');\nconst FONNTE_KEY   = env.get('FONNTE_WEBHOOK_KEY');\n\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url     = 'http://localhost:1880/fitflow/wa-incoming';\nmsg.payload = JSON.stringify({\n  device:  DEVICE_PHONE,\n  sender:  SENDER_PHONE,\n  message: TEST_PESAN,\n  name:    'Test Member',\n  id:      'msg_test_' + Date.now()\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 560,
    "wires": [["test-http-bot"]]
  },
  {
    "id": "test-http-bot",
    "type": "http request",
    "z": "test-tab",
    "name": "POST /fitflow/wa-incoming",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{{url}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 640,
    "y": 560,
    "wires": [["test-dbg-bot"]]
  },
  {
    "id": "test-dbg-bot",
    "type": "debug",
    "z": "test-tab",
    "name": "Hasil Simulasi WA Bot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 560,
    "wires": []
  },

  {
    "id": "test-cmt-6",
    "type": "comment",
    "z": "test-tab",
    "name": "━━━━ 6. INFO: CARA UPDATE URL NODE-RED DI SUPABASE ━━━━━━━━━━━━━━━━━━━",
    "info": "Jika IP Node-RED berubah, jalankan SQL ini di Supabase SQL Editor:\n\n  ALTER DATABASE postgres SET app.nodered_url = 'http://IP-BARU:1880';\n\nTidak perlu edit SQL migration lagi.\n\nJika Node-RED ada di cloud (mis. Railway, Render, DigitalOcean):\n  ALTER DATABASE postgres SET app.nodered_url = 'https://domain-node-red.com';\n\nJika pakai ngrok untuk testing:\n  ALTER DATABASE postgres SET app.nodered_url = 'https://xxxx.ngrok-free.app';",
    "x": 300,
    "y": 640,
    "wires": []
  }
]
